.node circle {
  fill: #fff;
  /*stroke: steelblue;*/
  stroke: transparent;
  stroke-width: 1.5px;

}

.node {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

path.link{
	z-index: 1;
}

svg foreignObject {
	z-index: 1000;
}

dice {
	background: #fff;
}

#btn1 {
	height: 300px;
}

#btn2 {
	height: 300px;
}

#btn3 {
	height: 300px;
}

button.btn.btn-large.btn-default {
	height: 300px;
}