.node circle {
  fill: #fff;
  /*stroke: steelblue;*/
  stroke: #fff;
  stroke-width: 1.5px;

}

.node {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

path.link{
	z-index: 1;
}

svg foreignObject {
	z-index: 1000;
}

dice {
	background: #fff;
}

